.footerSection {
  background: url("https://res.cloudinary.com/dghf2lzu3/image/upload/v1731249049/restaurant/footer_f9bc4q.jpg");
  backdrop-filter: blur(6.5px);
  background-size: cover;
  background-repeat: no-repeat;
}
.footerSection2 {
  background: rgba(0, 0, 0, 0.8);
}
