.heroSectionTitle {
  background: linear-gradient(
    90deg,
    rgba(189, 31, 23, 0) 32.88%,
    rgba(189, 31, 23, 0.7) 100%
  );
}

.hero {
  background: linear-gradient(
    123.4deg,
    #bd1f17 40.8%,
    #a61d13 76.4%,
    #8e1b0f 120.69%
  );
}

.hero2 {
  background: url("../assets/hero.png");
}

/*  */
@media (max-width: 1023px) {
  .heroSectionTitle {
    background: none;
  }
}
