@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background: linear-gradient(
    123.4deg,
    #bd1f17 40.8%,
    #a61d13 76.4%,
    #8e1b0f 120.69%
  );
  height: 300px;
}

.hero2 {
  background: url("/Rectangle4.png");
  opacity: 12%;
  height: 200px;
}
